<h3>Param Page One template</h3>

<p>This page id is:
	<b>{{paramPageCtrl.pageId}}</b>
	(displayed from 1.html)

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim tincidunt eros, a maximus diam.
		Nam arcu enim, sollicitudin eleifend commodo malesuada, consequat in est.
	</p>
	<p>
		Aenean ornare accumsan erat, ut venenatis magna mattis et. In eget magna vitae nisi euismod sagittis ut eget elit.
		Morbi velit sem, hendrerit facilisis turpis ut, sodales rutrum urna.
	</p>

</p>